**/__pycache__/**
*.py[cod]
*$py.class

.vscode/

**/node_modules/**

local_dbdata/

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox
.coverage
.coverage.*
.cache
nosetests.xml
*.cover
.hypothesis/

*.mo
*.pot

staticfiles/
*.log
*.pot
*.pyc

.venv
venv/
.env
/_env

docker-compose-devenv.yml


