<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Simple Notification with Flask Socket IO Example</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
</head>

<body>       
    <div>
        <h2>Notifications</h2>
        <form id="notifications-form">
            <list id="notifications-list">                
            </list>            
        </form>
    </div>
    
    <script>
        $(document).ready(function() {
            var socket = io.connect("http://" + document.domain + ":" + location.port);            
            
            socket.on('system_notifications', function(notification) {                                    
                    $('#notifications-list').append($('<option>', 
                    {
                        value: notification["message"],
                        text: notification["message"]
                    }));                
            });            
        });
    </script>
</body>
</html>
